# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
MyVilla/MyVilla_Client/bin/
MyVilla/MyVilla_Client/obj/
MyVilla/MyVilla_Server/bin/
MyVilla/MyVilla_Server/obj/
MyVilla/.vs/
MyVilla/MyVilla.Client/obj/
MyVilla/MyVilla.Server/obj/
MyVilla/MyVilla.Client/bin/Debug/net5.0/wwwroot/_framework/dotnet.5.0.7.js
MyVilla/MyVilla.Client/bin/
MyVilla/MyVilla.Server/bin/
MyVilla/BasicBlazor/bin/
MyVilla/BasicBlazor/obj/
MyVilla/Movie.Client/bin/
MyVilla/Movie.Client/obj/
MyVilla/Movie.Server/obj/
MyVilla/Movie.Shared/obj/
MyVilla/Movie.Shared/bin/
MyVilla/Movie.Server/bin/
MyVilla/Movies.Client/bin/
MyVilla/Movies.Client/obj/
MyVilla/Movies.Server/bin/
MyVilla/Movies.Server/obj/
MyVilla/Movies.Shared/bin/
MyVilla/Movies.Shared/obj/
