
<div>
    <p>Title: @Movie.Title</p>
    <p>Release: @Movie.ReleaseDate</p>
    @if (DisplayDeleteButton == true)
    {
        <button @onclick="@(()=> DeleteEvent.InvokeAsync(Movie))">
            Delete
        </button>
    }

</div>

@code {
    [Parameter]
    public Movie Movie { get; set; }

    [Parameter]
    public bool DisplayDeleteButton { get; set; } = false;

    [Parameter]
    public EventCallback<Movie> DeleteEvent { get; set; }
}
