
<div class="individual-movie-container">
    <a href="@movieUrl">
        <img src="@Movie.Poster" alt="Poster" class="movie-poster" />
    </a>
    <p><a href="@movieUrl">@Movie.TitleBrief</a></p>
    <div>
        <a class="btn btn-info">Edit</a>
        <a class="btn btn-danger" @onclick="(() => DeleteMovie.InvokeAsync())">Delete</a>
    </div>
</div>

@code {
    [Parameter]
    public Movie Movie { get; set; }

    [Parameter]
    public bool DisplayDeleteButton { get; set; } = false;

    [Parameter]
    public EventCallback<Movie> DeleteMovie { get; set; }

    private string movieUrl = string.Empty;
}
