<h3>MovieList</h3>

<div>
    <h3>Movies</h3>
</div>

@if (Movies == null)
{
    <p>Loading...</p>
}
else
{
    <input type="checkbox" @bind="displayDeleteButton" />
    <span> &nbsp;Display Delete button</span>
    <br/>
    <div>
        @foreach (var movie in Movies)
        {
           <IndividualMovie Movie="movie" 
                            DisplayDeleteButton="displayDeleteButton" 
                            DeleteEvent="DeleteMovie" />
        }
    </div>
}

@code {

    [Parameter]
    public List<Movie> Movies { get; set; }

    bool displayDeleteButton = false;

    private void DeleteMovie(Movie movie)
    {
        Movies.Remove(movie);
    }

}
