<h3>MovieList</h3>

<div>
    <h3>Movies</h3>
</div>

@if (Movies == null)
{
    <p>Loading...</p>
}
else
{
    <div>
        @foreach (var movie in Movies)
        {
           <IndividualMovie Movie="movie" />
        }
    </div>
}

@code {
    [Parameter] public List<Movie> Movies { get; set; }
}
