
<div>
    <h3>Movies</h3>
</div>

<input type="checkbox" @bind="displayDeleteButton" />

<GenericList Data="Movies">
    <ElementTemplate>
        <IndividualMovie Movie="context" 
                         DisplayDeleteButton="displayDeleteButton" 
                         DeleteEvent="DeleteMovie" />
    </ElementTemplate>
</GenericList>
<GenericList Data="Movies">
    <ElementTemplate Context="movie">
        <IndividualMovie Movie="movie" 
                         DisplayDeleteButton="displayDeleteButton" 
                         DeleteEvent="DeleteMovie" />
    </ElementTemplate>
</GenericList>

@code {

    [Parameter]
    public List<Movie> Movies { get; set; }

    bool displayDeleteButton = false;

    private void DeleteMovie(Movie movie)
    {
        Movies.Remove(movie);
    }
}
