@page "/movies/edit"


@inject IJSRuntime js

<div>
    <h1>Movies</h1>
</div>

<input type="checkbox" @bind="displayDeleteButton" />
<div class="movies-container">
    <GenericList Data="Movies">
        <ElementTemplate>
            <IndividualMovie Movie="context"
                             DeleteMovie="DeleteMovie" />
        </ElementTemplate>
    </GenericList>
</div>


@code {

    [Parameter]
    public List<Movie> Movies { get; set; }

    bool displayDeleteButton = true;

    private async Task DeleteMovie(Movie movie)
    {
        Movies.Remove(movie);
    }

}
