@page "/"

<MovieList Movies="listMovie" />
<br/>
<button @onclick="AddNewMovie">Add new movie</button>

@code {

    List<Movie> listMovie = new List<Movie>();

    Dictionary<string, object> dummyParams = new Dictionary<string, object>()
{
        { "placeholder", "The movie name 2"},
        { "disabled", "true"},
    };

    protected override void OnInitialized()
    {
        listMovie = new List<Movie>()
    {
            new Movie(){
                Title = "Spider Man",
                ReleaseDate = new DateTime(2019, 7, 10)
            },
            new Movie(){
                Title = "Arena",
                ReleaseDate= DateTime.Now
            },
            new Movie(){
                Title = "Taken",
                ReleaseDate = DateTime.Now
            },
        };
    }

    private void AddNewMovie()
    {
        listMovie.Add(new Movie() { Title = "New Movie", ReleaseDate = DateTime.Today });
    }
}