@page "/"

@inject IRepository memoryRepository;

<MovieList Movies="listMovie" />
<br/>
<button @onclick="AddNewMovie">Add new movie</button>

@code {

    List<Movie> listMovie = new List<Movie>();

    Dictionary<string, object> dummyParams = new Dictionary<string, object>()
{
        { "placeholder", "The movie name 2"},
        { "disabled", "true"},
    };

    protected override void OnInitialized()
    {
        listMovie = memoryRepository.GetList();
    }

    private void AddNewMovie()
    {
        listMovie.Add(new Movie() { Title = "New Movie", ReleaseDate = DateTime.Today });
    }
}