@typeparam TITem

@inject IJSRuntime js

<button class="btn" @onclick="@OnClick">Delete</button>


@code {

    [Parameter]
    public TITem Data { get; set; }

    [Parameter]
    public EventCallback<TITem> OnClickEvent { get; set; }

    private async Task OnClick()
    {
        await js.InvokeVoidAsync("callInstanceMethod", DotNetObjectReference.Create(this));
    }

    [JSInvokable]
    public async Task InstanceMethod()
    {
        await OnClickEvent.InvokeAsync(Data);
    }

}
