
<div style="border: 1px solid #ff0000; padding: 10px;">
    <h3>@Title</h3>
    @ChildContent1
    @ChildContent2
    <br />
    <GrandChild Title="Grand Child Component" />
</div>



@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent1 { get; set; }

    [Parameter]
    public RenderFragment ChildContent2 { get; set; }
}
