<div style="border: 1px solid #4cff00; padding: 10px;">
    <h3>@Title</h3>
    <span>@Message</span>
</div>

@code {

    [Parameter]
    public string Title { get; set; }

    [CascadingParameter(Name = "MessageFromParent")]
    public string Message { get; set; } = "Default";

}
