@page "/parent"

<h3>Parent Component</h3>
<CascadingValue Value="@data" Name="Data">
    <CascadingValue Value="@parentMessag" Name="ParrentMessage">
        <Child Title="This is the title from parent component">
            <ContentA>
                <h2>Content A</h2>
            </ContentA>
            <ContentB>
                <h3>Content B</h3>
            </ContentB>
        </Child>
    </CascadingValue>
</CascadingValue>



<Input Type="text" Value="123" style="width: 200px; padding: 10px;" />

<Button Title="Button" TItem="string" Data="@message" OnEventClick="@ParentClickEvent" />

@code {

    string parentMessag = "This is the message from parent";
    string data = "This is the data from parent component";

    private string message = "Generic value";

    private void ParentClickEvent(string value)
    {
        Console.WriteLine(value);
    }
}