@page "/genre/create"

<h3>CreateGenres</h3>

<GenreForm Genre="genre" OnValidSubmit="Create" />

@code {
    private Genre genre = new Genre();

    private void Create()
    {
        Console.WriteLine("Save genre" + genre.Name);
    }

}
